{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
     <h1>{{ title }}</h1>
     <h2>My favorite foods are:</h2>
     <ol>
        {% for food in foods %}
            <li><h3>{{ food }}</h3></li>
        {% endfor %}
     </ol>
{% endblock %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template</title>
</head>
<body>
    <a href="/home">home</a> |
    <a href="/about">About Me</a> |
    <a href="/favorite_foods">Favorite Foods</a> |
    <a href="/favorite_sports">Favorite Sports</a>
    
     <h1>{{ title }}</h1>
     <hr>
     <h2>My favorite foods are:</h2>
     <ol>
        {% for % food in foods %}
            <li><h3>{{ food }}</h3>W</li>
        {% endfor %}
     </ol>
     
</body>
</html>-->